:root {
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CUSTOM VARIABLES */
  --brand-color: rgb(4, 254, 33);
  --text-color-light: rgb(255,255,255);

  /* LIB RELATED VARIABLES */
  
  --button-accent-bg-color: var(--brand-color);
  --button-accent-txt-color: var(--text-color-light);

  --button-accent-bg-hover-color: rgb(193,17,25);
  --button-accent-txt-hover-color: var(--text-color-light);

  --button-accent-bg-active-color: rgb(153,22,29);
  --button-accent-txt-active-color: rgba(255,255,255,0.7);
}